@charset "UTF-8";

  body {
  font-family: 'DOSMyungjo';
     background-color: blue;
  margin: 0;
  padding: 0;
   }


nav {
	font-family: 'DOSMyungjo';
	text-align: center;
 	padding: 5px;

}

:focus-visible {
    outline: 3px solid #aaa;
}

nav ul{

}
nav ul li {
  list-style: none;
  display: inline-block;
  font-size: 3em;
  padding: 0 20px;
  
}

nav a {
  text-decoration: none;
  color: #000;
}

nav a:hover {
  
  color: #fff;
}

nav h2{
  font-size: 1.3em;
}

#loginform {
	height: auto;
}
.dropdown{
    position: relative;
    display: block;
}
.button{
	font-family: 'DOSMyungjo';
    font-size:1.3em;;
    background-color: #1fe0; ;
    color: black;
    border: none;
    padding: 2px 0px 2px;
}
#drop-content{
    z-index: 1;

    color: black;
    border: none;
}
#drop-content1 a{
    display:block;
    font-size: 1em;
    background-color: #1fe0; ;
    color: black;
    text-decoration: none;
    padding: 10px 0px 10px 10px;
    margin: 2px 0px 0px 0px;
}
#drop-content2 a{
    display:block;
    font-size: 1em;
    background-color: #1fe0; ;
    color: black;
    text-decoration: none;
    padding: 10px 0px 10px 10px;
    margin: 2px 0px 0px 0px;
}
#drop-content3 a{
    display:block;
    font-size: 1em;
    background-color: #1fe0; ;
    color: black;
    text-decoration: none;
    padding: 10px 0px 10px 10px;
    margin: 2px 0px 0px 0px;
}
#navbar {
  width:100px;
  height:30px;
  margin-top:5px;
 } 

 #navbar #holder {
  height:2px;
  width:630px; 	
  padding-left:220px; 
 } 

 #navbar #holder ul {
  list-style:none;
  margin:0;
  padding:0; 
 } 

 #navbar #holder ul li a { 
  text-decoration:none;
  float:left;
  margin-right:5px;
  line-height:23px;
  font-family:"Arial Black", Gadget, sans-serif;
  color:#000;
  border:1px solid #000;
  border-bottom:none;
  padding:2px;
  width:75px;
  text-align:center;
  display:block;
  background:#69F;
  -moz-border-radius-topleft:15px;
  -moz-border-radius-topright:15px;
  -webkit-border-top-left-radius:15px;
  -webkit-border-top-right-radius:15px; 
 } 

 #navbar #holder ul li a:hover {
  background:#F90;
  color:#FFF;
  text-shadow:1px 1px 1px #000;
 } 
  #holder ul li a#onlink {
  background:#FFF;
  color:#000;
  border-bottom:1px solid #FFF; 
 } 

 #holder ul li a#onlink:hover {
  background:#FFF;
  color:#69F;
  text-shadow:1px 1px 1px #000; 
 }
