@charset "UTF-8";
html{
	width: 100%; height: 100%;
}
  body {
  font-family: 'DOSMyungjo';
     background-color: blue;
  margin: 0;
  padding: 0;
   }


nav {
	font-family: 'DOSMyungjo';
	text-align: center;

}

:focus-visible {
    outline: 3px solid #aaa;
}

nav ul{

}
nav ul li {
  list-style: none;
  display: inline-block;
  font-size: 3em;
  padding: 0 20px;
  
}

nav a {
  text-decoration: none;
  color: #000;
}
nav a:active {
  box-sizing: border-box;
  appearance: auto;
  align-items: flex-start;
}
nav a:hover {
  
  color: #fff;
}

nav h2{
  font-size: 1.3em;
}

#loginform {
	height: auto;
}
.dropdown{
    position: relative;
    display: block;
}
.index-button{
	font-family: 'DOSMyungjo';
    background-color: #1fe0; ;
    color: black;
    border: none;
    cursor:pointer;
	padding: 20px 20px 20px 20px;
	font-size: 3em;
}
.button1{
	font-family: 'DOSMyungjo';
    font-size:4.0em;
    background-color: #1fe0; ;
    color: black;
    border: none;
    display:inline-block;
    cursor:pointer;
    margin-top: 1%;
}
.button2{
	font-family: 'DOSMyungjo';
    font-size:3.0em;
    background-color: #1fe0; ;
    color: black;
    border: none;
    display:inline-block;
    margin-top: 1%;
    cursor:pointer
}
.button3{
	font-family: 'DOSMyungjo';
    font-size:2.0em;;
    background-color: #1fe0; ;
    color: black;
    border: none;
    width:auto;
    display:inline-block;
    margin-top: 5%;
    margin-bottom:5%;
    cursor:pointer
}
#drop-content1{
	display: none;
}
#drop-content2{
    margin-left:5%;
}
	
#drop-content1 a{
    display:block;
    font-size: 1em;
    background-color: #1fe0; ;
    color: black;
    text-decoration: none;
    padding: 10px 0px 10px 10px;
    margin: 2px 0px 0px 0px;
}
#drop-content2 a{
    display:block;
    font-size: 1em;
    background-color: #1fe0; ;
    color: black;
    text-decoration: none;
    padding: 10px 0px 10px 10px;
    margin: 2px 0px 0px 0px;
}
#drop-content3 a{
    display:block;
    font-size: 1em;
    background-color: #1fe0; ;
    color: black;
    text-decoration: none;
    padding: 10px 0px 10px 10px;
    margin: 2px 0px 0px 0px;
}
#navbar {
  width:auto;
  height:auto;
  margin-top:5px;
 } 

 #navbar #holder {
  height:2px;
  width:630px; 	
  padding-left:220px; 
 } 

 #navbar #holder ul {
  list-style:none;
  margin:0;
  padding:0; 

 } 

 #navbar #holder ul li a { 
  text-decoration:none;
  float:left;
  line-height:23px;
  color:#000;
  border:2px solid #000;
  border-bottom:none;
  padding:2px;
  width:100px;
  height:25px;
  display:block;
  background:#d3d3d3;
  -moz-border-radius-topleft:15px;
  -moz-border-radius-topright:15px;
  -webkit-border-top-left-radius:15px;
  -webkit-border-top-right-radius:15px; 
  border-bottom-color: white;
  font-size: 1.4em;
  text-align: center;
 } 

 #navbar #holder ul li a:hover {
  background:#FFF;
  color:#FFF;
  text-shadow:1px 1px 1px #000;
 } 
  #holder ul li a#onlink {
  background:#FFF;
 } 

 #holder ul li a#onlink:hover {
  background:#FFF;
  text-shadow:1px 1px 1px #000; 
  
 }
a:active{border:1px;}

div.index-header{
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
	padding-top:5%;
	padding-bottom:5%;
	font-size: 2.0em;
	border: 10px double;
	background-color: #dcdcdc;
}

div.index-board{
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 5%;
	margin-right: 5%;
	border: 10px double;
	background-color: #d3d3d3;
	height: auto;
}

div.index-article{
	margin:auto;
	height: 100vh;
}

div.dev-bar{
	border: 5px double;
	width:auto;
	height:auto;
	position: absolute;
	margin-left: 3%;
	margin-top: 3%;
	background-color: #d3d3d3;
}

section.dev-sec{
	border: 5px double;
	width:auto;
	height:auto;
	margin:1%;
	background-color: white;
	padding-bottom: 100px;
	padding-left:75px;
	padding-top:130px;
	padding-right:75px;
	
}